Django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
dj-database-url
psycopg2-binary
whitenoise
gunicorn
python-dotenv
requests
google-auth
pyotp
webauthn
qrcode
drf-spectacular
firebase-admin
Pillow
